body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.ludo-borad{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    border: 4px solid #000;
}

.home{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:10px;
    padding: 30px;
}

.red{background: #ff4d4d;}
.green{background: #4caf50;}
.yellow{background: #ffeb3b;}
.blue{background: #2196f3;}


.token{
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    border: 2px solid #000;
}


.center{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    background: #fff;
    transform: translate(-50%,-50%);
    border: 4px solid #000;
}